.puzzle-name
  - if params[:action] == 'new'
    .form-group
      = text_field_tag :name, "",{id: "name"}
  - else
    = @puzzle.name
.puzzle-body
  %table.table-bordered#puzzle
    %tbody
      - (1..9).each do |row|
        %tr
          - (1..9).each do |column|
            - if params[:action] != 'new'
              - cell = find_cell_in_puzzle(puzzle: @puzzle, row: row, column: column)
              - if cell.blank?
                %td.button-select.new-cell{id: "#{row}-#{column}"}
              - elsif cell.base_cell
                %td{class: "button-select #{cell.blank? ?  "" : cell.value} new-cell", id: "#{row}-#{column}"}
                  = cell.value
              - else
                %td{class: "button-select #{cell.blank? ?  "" : cell.value} base-cell", id: "#{row}-#{column}"}
                  = cell.value
                  %br
                  .red
                    = cell.possibles.join(",")
            - else
              %td.button-select
  .puzzle-buttons
    = render partial: "buttons"
